*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    display: block;
}
img{
    width: 100%;
}
ul,ol{
    list-style: none;
}

body{
    background-color: #ECECEC;
}
.container{
    width: 1275px;
    margin: 0 auto;
}
.sign{
    padding: 10px 25px;
    border-radius: 4px;
    background: #066F14;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .5s;
}



.navbar{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    margin-left: 150px;
    display: flex;
}
.navbar ul li{
    margin: 0 24px;
}
.navbar ul li a{
    font-family: 'DM Sans';
    color: #1A1A1A;
    transition: .5s;
}
.navbar ul li a:hover{
    color: #066F14;
    transition: .5s;
}
.nav-wrap button:nth-child(1){
    background: transparent;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 500;
}
.nav-wrap button:nth-child(1):hover{
    transition: .5s;
    color: #066F14;
}
.nav-wrap button:nth-child(2):hover{
    background-color: transparent;
    color: #066F14;
    border: 1px solid #066F14;
    transition: .5s;
}


.plant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plant-text{
    width: 550px;
}
.plant-text h2{
    font-style: normal;
    font-weight: 700;
    line-height: 92px;
    font-size: 72px;
}
.plant-text .lorem{
    width: 505px;
    margin: 25px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: 16px;
    color: #4A4A4A;
}
.plant-text button{
    margin: 15px 0;
    padding: 15px 30px;
    font-size: 18px;
}
.plant-text button:hover{
    background-color: transparent;
    color: #066F14;
    border: 1px solid #066F14;
    transition: .5s;
}
.plant-text-num{
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
}
.plant-text-num .cus{
    text-align: center;
}
.plant-text-num .cus h4{
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    font-style: normal;
}
.plant-text-num .cus p{
    margin: 10px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



.plant-img{
    width: 560px;
    height: 720px;
    background-image: url(/img/klipartz\ 5\ \(1\).png);
}
.plant-img .info{
    position: relative;
}
.plant-img .info img{
    position: absolute;
    width: 260px;
}
.info .stem{
    top: 174px;
    left: -43px;
    transition: .5s;
}
.info .stem:hover{
    cursor: pointer;
    opacity: 80%;
    transition: .5s;
}
.info .thorn{
    top: 72px;
    left: 323px;
    transition: .5s;
}
.info .thorn:hover{
    cursor: pointer;
    opacity: 80%;
    transition: .5s;
}
.info .media{
    top: 554px;
    left: 365px;
    transition: .5s;
}
.info .media:hover{
    cursor: pointer;
    opacity: 80%;
    transition: .5s;
}
.info .klpz{
    width: 157px;
    top: 330px;
    left: -265px;
}



.plants{
    margin: 102px 0;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.plants-text{
    width: 390px;
}
.plants-text h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}
.see-all{
    margin: 37px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.see-all:hover i{
    cursor: pointer;
    color: #066F14;
    transition: .5s;
}
.see-all p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #4A4A4A;
    transition: .5s;
}
.see-all:hover p{
    transition: .5s;
    cursor: pointer;
    color: #066F14;
}
.see-all i{
    transition: .5s;
    margin: 0 10px;
    color: #4A4A4A;
}
.plants-img{
    display: flex;
}
.plants-img img{
    width: 217px;
    height: 207px;
    margin: 0 12px;
    padding: 22px 21px;
    border-radius: 4px;
    background: #F6EDE8;
    transition: .5s;
}
.plants-img img:hover{
    cursor: pointer;
    transition: .5s;
    background: #F0F1F6;
}


.about-us{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about-us-img{
    position: relative;
}
.about-us-img .gr{
    width: 446px;
    height: 440px;
    background-color: #066F14;
}
.about-us-img img{
    position: absolute;
    top: 40px;
    left: 70px;
}
.about-us-text{
    width: 504px;
}
.about-us-text h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #066F14;
}
.about-us-text h2{
    margin: 12px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #1A1A1A;
}
.about-us-text p{
    margin: 12px 0;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    font-size: 16px;
    color: #4A4A4A;
}
.about-us-text span{
    margin: 4px 0;
    font-family: 'DM Sans';
    font-style: normal;
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #4A4A4A;
}
.about-us-text button{
    margin: 32px 0;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 18px;
}




.product{
    margin-top: 128px;
    text-align: center;
}
.product h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
.product ul{
    margin: 24px 0;
    display: flex;
    justify-content: center;
}
.product ul li a{
    margin: 0 12px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #4A4A4A;
    transition: .5s;
}
.product ul li a:hover{
    font-size: 18px;
    color: #066F14;
    line-height: 23px;
    transition: .5s;
}
.product-boxes{
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
}
.products{
    border-radius: 4px;
    text-align: center;
    width: 270px;
}
.products h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}
.products p{
    margin-bottom: 20px;
}
.products h3,.stars,p{
    margin: 0 32px;
    text-align: start;
}
.products .out{
    padding-top: 10px;
    width: 140px;
    height: 153px;
}
.products .mons{
    width: 120px;
    height: 153px;
}
.products .pott{
    width: 118px;
    height: 153px;
}
.products .indo{
    width: 160px;
    height: 153px;
}
.products:nth-child(1){
    background-color: #EAF2E5;
}
.products:nth-child(2){
    background-color: #F0EBE6;
}
.products:nth-child(3){
    background-color: #E2ECE4;
}
.products:nth-child(4){
    background-color: #E7EEED;
}
.stars{
    margin: 10px 32px;
    display: flex;
}
.stars img{
    margin: 0 2px;
    width: 15px;
}
.product button{
    margin: 16px 0;
    padding: 16px 32px;
    font-size: 18px;
    border: 1px solid transparent;
    transition: .5s;
}
.product button:hover{
    color: #066F14;
    transition: .5s;
    background-color: transparent;
    border: 1px solid #066F14;
}




.comment{
    margin: 128px 0;
    display: flex;
}
.comment-text{
    position: relative;
    width: 660px;
}
.comment-text .lorem{
    font-family: 'DM Sans';
    width: 502px;
    margin: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4A4A4A;
}
.comment-text h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-style: normal;
}
.islam{
    position: absolute;
    margin-top: 25px;
    background-color: #066F14;
}
.hasanul{
    display: flex;
}
.islam .buttons{
    display: flex;
    justify-content: end;
}
.islam .buttons button{
    width: 24px;
    height: 24px;
    border: none;
    background-color: #143B19;
    transition: .5s;
}
.islam .buttons button:hover{
    background-color: #fff;
    cursor: pointer;
    transition: .5s;
}
.islam .buttons button:hover i{
    color: #066F14;
}
.islam .buttons button  i{
    color: #48654B;
}
.islam .vectors{
    margin: 20px 24px;
    display: flex;
    height: 31px;
}
.islam .vectors img{
    margin: 0 3px;
    width: 17px;
    height: 31px;
}
.islam p{
    width: 502px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ECECEC;
}
.islam .islam-img{
    width: 541px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
}
.islam .islam-img img{
    width: 60px;
}

.islam-img .islam-name{
    margin: 0 10px;
    color: #fff;
}
.islam-name p{
    margin: 0;
    color: #D9D9D9;
}
.comment-img{
    margin-left: -50px;
}



.newsletter{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #DFFFE3;
    border-radius: 6px;
}
.newsletter-text{
    padding: 60px;
}
.newsletter-text h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #1A1A1A;
}
.newsletter-text p{
    width: 458px;
    margin: 12px 0;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #4A4A4A;
}
.newsletter-text input{
    margin-top: 18px;
    width: 451px;
    padding: 20px;
    padding-right: 100px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.newsletter-text button{
    padding: 10px 15px;
    margin-left: -100px;
}
.newsletter-text button:hover{
    background-color: transparent;
    color: #066F14;
    border: 1px solid #066F14;
}
.newsletter-img{
    position: absolute;
    left: 850px;
    top: -35px;
}
.newsletter-img img{
    width: 262px;
}

.instagram .pictures{
    margin: 28px 0;
    display: flex;
    justify-content: center;
}
.instagram .pictures .marg{
    position: relative;
    width: 231px;
    height: 241px;
}
.instagram .pictures .marg img{
    position: absolute;
}
.instagram .pictures .marg img:nth-child(2){
    width: 66px;
    margin: 87px 81px;
    opacity: 0;
    transition: .5s;
}
.instagram .pictures .marg:hover{
    cursor: pointer;
    opacity: 75%;
}
.instagram .pictures .marg:hover img:nth-child(2){
    opacity: 100%;
    transition: .5s;
}
.instagram h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    margin-top: 80px;
    text-align: center;
}
.instagram p{
    margin: 12px auto;
    width: 544px;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4A4A4A;
}




.icons{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #EDFFDD;
    transition: .5s;
}
.icons i{
    font-size: 20px;
    font-weight: 800;
    color: #066F14;
    transition:  .5s;
}
.icons:hover{
    cursor: pointer;
    background-color: #066F14;
    transition: .5s;
}
.icons:hover i{
    color: #fff;
    transition: .5s;
}
tbody tr:nth-child(1) td:nth-child(1){
    width: 406px;
    padding-right: 100px;
    line-height:30px;
}
tbody tr:nth-child(4) td:nth-child(1){
    display: flex;
    gap: 16px;
}
table{
    width: 1152px;
}
tr th{
    font-family: 'DM Sans';
    padding: 24px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1A1A1A;
}
tr td{
    font-family: 'DM Sans';
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #5A5A5A;
}
tr th,td{
    padding: 8px 0;
    text-align: start;
}
footer .container table{
    margin: 0 auto;    
}